# Ambiente virtual
venv/

# Banco de dados local
database/*.db
database/*.db-shm
database/*.db-wal

# Banco de dados da Cloud
cloud/*.db
cloud/*.db-shm
cloud/*.db-wal

# Cache do Python
__pycache__/
*.py[cod]

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Variaveis de ambiente
.env
.env.*

# Logs
*.log